header nav {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

header nav h1 {
  padding: 0 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

header .control{
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .control img{
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fffbee;
}