header nav {
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

header nav h1 {
  padding: 0 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}