.editguitar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.editguitar form{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}